<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/login.css" />
    <title>login</title>
  </head>
  <body>
    <div class="login-container">
      <form class="loginForm">
        <!-- <form action="/loginfn" method="POST" class="loginForm"> -->
        <div class="formWrap">
          <label for="id">아이디</label><br />
          <input
            type="id"
            id="id"
            name="id"
            placeholder="이메일을 입력해주세요."
            required
            class="id-input"
          />
        </div>
        <div class="idText"></div>
        <div class="form-group">
          <label for="password">비밀번호</label><br />
          <input
            type="password"
            id="password"
            name="password"
            placeholder="비밀번호를 입력해주세요."
            required
            class="pw-input"
          />
        </div>
        <div class="pwText"></div>
        <div class="loginFail"></div>
        <div class="form-group">
          <button type="submit" class="login-button" onclick="login()">
            로그인
          </button>
        </div>
        <div class="form-footer">
          <a href="/idfind" class="find-email">아이디 찾기</a>
          <a href="/pwfind" class="find-pw">비밀번호 찾기</a>
          <a href="/" class="join-link">회원가입</a>
        </div>
      </form>
    </div>
  </body>
  <script src="/js/login.js"></script>
</html>
