<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/pwfind.css" />
    <title>pwfind</title>
  </head>
  <body>
    <div class="find-container">
      <form action="/find-pw" method="post" class="findForm">
        <h2>비밀번호 찾기</h2>

        <div class="formWrap">
          <label for="id">이메일</label><br />
          <input
            type="email"
            name="eamil"
            id="email"
            placeholder="이메일을 입력하세요."
            required
          />
        </div>
        <div class="emailText"></div>
        <div class="form-group">
          <button type="submit" class="find-button">비밀번호 찾기</button>
        </div>

        <div class="form-footer">
          <a href="/login" class="login-link">로그인 화면으로 돌아가기</a>
          <a href="/" class="register-link">회원가입</a>
        </div>
      </form>
    </div>

    <script src="/js/pwfind.js"></script>
  </body>
</html>
