/* 기본적인 리셋과 스타일 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container {
  background-color: #ffffff;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

/* 아이디, 비밀번호 입력 필드 및 라벨 스타일 */
.formWrap {
  display: flex;
  flex-direction: column; /* 세로 정렬 */
  align-items: center;
  margin-bottom: 20px;
  justify-content: center;
}

.formWrap label {
  margin-bottom: 8px;
}

input[type="email"],
input[type="password"] {
  padding: 12px;
  font-size: 16px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-top: 8px;
}

input[type="email"]:focus,
input[type="password"]:focus {
  outline: none;
  border-color: #4caf50;
}

button.login-button {
  background-color: #8e44ad; /* 보라색 버튼 */
  color: #fff;
  padding: 12px 30px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

button.login-button:hover {
  background-color: #9b59b6; /* 보라색 버튼의 hover 효과 */
}

.form-footer {
  margin-top: 20px;
  font-size: 14px;
}

.form-footer a {
  color: #8e44ad; /* 보라색 링크 */
  text-decoration: none;
  margin: 0 10px;
}

.form-footer a:hover {
  text-decoration: underline;
}

.emailText,
.pwText,
.loginFail {
  font-size: 16px;
  color: #333;
  font-weight: bold;
  margin-top: 10px;
}

.emailText {
  color: #27ae60; /* 아이디 확인 메시지 */
}

.pwText {
  color: #27ae60; /* 비밀번호 확인 메시지 */
}

.loginFail {
  color: #e74c3c; /* 실패 메시지 */
}
